<br><br><br><br>

<div style="text-align: center;">
    <h1>Ventas</h1>
  </div>

  <!-- Agregar el filtro  por fecha -->
  <div class="container">
    <h4>Filtros de busqueda</h4>
    <table class="mb-3">
        <tr>
            <td>
                <label for="FechaDesde">Fecha Desde</label>
                <input id="FechaDesde" class="form-control" type="date" [(ngModel)]="fechaDesde" />
            </td>
            <td>
                <label for="FechaHasta">Fecha Hasta</label>
                <input id="FechaHasta" class="form-control" type="date" [(ngModel)]="fechaHasta" />
            </td>
        </tr>
    </table>
    <form class="mb-3">
        Cliente <input type="text" class="form-control" placeholder="Ruc del Cliente" [(ngModel)]="rucCliente" [ngModelOptions]="{standalone: true}">
    </form>

    <div style="color: red; display: inline;">{{mensajeErrorFiltro}} </div>
    <div style="display: inline; cursor: pointer;" *ngIf="mensajeErrorFiltro" (click)="mensajeErrorFiltro=''">x</div>
    <br>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary btn-sm" (click)="filtrar()">Buscar</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="Limpiar()">Limpiar</button>
    </div>
</div>
<br>

  <div *ngIf="listaVentas.length>0" class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Fecha</th>
          <th scope="col">Nro Factura</th>
          <th scope="col">Ruc Cliente</th>
          <th scope="col">Total de la Venta</th>
          <th scope="col">Ver Detalles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venta of listaVentas">
          <td>{{venta.id}}</td>
          <td>{{venta.fecha}}</td>
          <td>{{venta.numero}}</td>
          <td>{{venta.cliente }}</td>
          <td>{{venta.total }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editarModal"
                (click)="getDetalles(venta)">Ver Detalles</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="text-align: center;">
    <a class="btn btn-primary btn-sm" [routerLink]="['/','ventas','agregar']">Agregar Venta</a>
  </div>

  <!-- Modal -->
<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalles de Venta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><b>Cliente :</b> {{clienteSeleccionado}} </p>
        <p><b>RUC :</b> {{clienteRuc}} </p>
        <p><b>Fecha :</b> {{fechaSeleccionada}} </p>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detalle of detalleSeleccionado">
              <td>{{detalle.producto}}</td>
              <td>{{detalle.cantidad}}</td>
              <td>{{detalle.total}}</td>
            </tr>
            <tr>
              <td></td>
              <td>Total:</td>
              <td>{{totalSeleccionado}}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
