<br><br><br><br>

<div class="container mb-4 menu text-center">
  <div class="btn-group-vertical" role="group" aria-label="Basic checkbox toggle button group">
      <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" [routerLink]="['/','productos']">
      <label class="btn btn-outline-primary" for="btncheck1" >Productos</label>

      <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" [routerLink]="['/','clientes']">
      <label class="btn btn-outline-primary" for="btncheck2">Clientes</label>

      <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" [routerLink]="['/','ventas']">
      <label class="btn btn-outline-primary" for="btncheck3">Ventas</label>

    </div>
</div>
